<h1> Attribute Directive</h1>
<div [ngClass]="myclasses">Aspire Technology</div>

<div [class.special]="isSpecial">Class binding is special</div>

<input type="checkbox" [(ngModel)]="myclasses.big">Big Letter
<input type="checkbox" [(ngModel)]="myclasses.red">Red
<input type="checkbox" [(ngModel)]="myclasses.border">Border

<hr>
<br><br>
<input type="text" [(ngModel)]="Name">
<input type="text" [(ngModel)]="Name">


<br>
<h3 [ngStyle]="{color:'green','font-size':'50px'}">Srinivas</h3>
<div [style.color]="'green'">Angular ngStyle</div>

<button [style.color]="isSpecial ? 'red': 'green'">Red</button>
<button [style.background-color]="canSave ? 'blue': 'grey'">Save</button>
<br>
<button (click)="onSave()">Save</button>
<button on-click="onSave()">On Save</button>

<br>

<div>{{ dateObj | date }} </div>
<div>{{ dateObj | date:'medium' }}</div>
<div>{{ dateObj | date:'shortTime'}} </div>
<div>{{ dateObj | date:'mmss' }}</div>

<div>    {{str | slice:0:4}} </div>
  <div>  {{str | slice:-4}} </div> 
   <div> {{str | slice:4:9}}</div>

   <div>{{"Abc" | brackets}}</div>
    <div>{{"Abc" | brackets:'u'}}</div>
        <div>{{"Abc" | brackets:'l'}}</div>
            <div>{{"Abc" | brackets:'b'}}</div>